.header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.input-class {
  text-align: center;
  margin-bottom: 3rem;
}
input {
  width: 50%;
  height: 30px;
}
